.leaderboard-container

    .row.main
        .column-10.prefix-2
            - var datasets = this.collection.models[0].getDatasets();
            .row
                .column-10

                    table.toptable
                        thead
                            tr
                                th(colspan="3")
                                th(colspan="#{datasets.length + 1}").dataset-container
                                    medium
                                        | datasets

                            tr
                                th
                                th(colspan="2").left.pad-left.pad-bottom
                                    | Submissions sorted by overall accuracy

                                for dataset in datasets
                                    th.dataset
                                        | #{dataset}
                                th.dataset.overall
                                    | Overall




                        
                        for submission in this.collection.models
                            table.subtable
                                tbody
                                    tr.overview(data-identifier="#{submission.id}")
                                        td.avatar.desktop
                                            img(src="#{submission.avatar}")
                                        td.details
                                            h5
                                                | #{submission.algorithm} 
                                                small
                                                    | | #{submission.description}


                                            .url
                                                a(href="#{submission.pull_request}").pull-request
                                                    | view pull request


                                        td
                                            .metric-label
                                                | Accuracy

                                        for dataset in datasets
                                            - var val = submission.getMetricValueForDataset('accuracy', dataset);
                                            td(style="background-color:#{this.utils.getColorFromScore(val)}; color: #{val > 0.5 ? 'white' : 'black'};", class="number #{this.utils.makeSafeForCSS(dataset)}")
                                                | #{this.utils.preciseRound(val, 2)}


                                        - var val = submission.getMetricValueForDataset('accuracy', 'overall');
                                        td(style="background-color:#{this.utils.getColorFromScore(val)}; color: #{val > 0.5 ? 'white' : 'black'};").number
                                            | #{this.utils.preciseRound(val, 2)}
                                        


                                    tr(data-identifier="#{submission.id}").details
                                        td
                                        td(rowspan="#{this._.keys(this._.omit(submission.metrics, 'accuracy')).length}").submission-image
                                            img(src="https://s3.amazonaws.com/code.neuro/neurofinder/images/#{submission.id}/#{datasets[0]}/sources.png", class="thumbnail")


                                        - var metric = submission.metrics.overlap
                                        - var metricName = 'overlap'
                                        td.metric-label
                                            | #{metricName}

                                        for dataset in datasets
                                            - var val = submission.getMetricValueForDataset(metricName, dataset);
                                            td(style="background-color:#{this.utils.getColorFromScore(val)}; color: #{val > 0.5 ? 'white' : 'black'};", class="number #{this.utils.makeSafeForCSS(dataset)}")
                                                | #{this.utils.preciseRound(val, 2)}

                                        - var val = submission.getMetricValueForDataset(metricName, 'overall');
                                        td(style="background-color:#{this.utils.getColorFromScore(val)}; color: #{val > 0.5 ? 'white' : 'black'};").number
                                            | #{this.utils.preciseRound(val, 2)}




                                    for metric, metricName in this._.omit(submission.metrics, 'accuracy', 'overlap')


                                        tr(data-identifier="#{submission.id}").details
                                            td
                                            td.metric-label
                                                | #{metricName}

                                            for dataset in datasets
                                                - var val = submission.getMetricValueForDataset(metricName, dataset);
                                                td(style="background-color:#{this.utils.getColorFromScore(val)}; color: #{val > 0.5 ? 'white' : 'black'};", class="number #{this.utils.makeSafeForCSS(dataset)}")
                                                    | #{this.utils.preciseRound(val, 2)}

                                            - var val = submission.getMetricValueForDataset(metricName, 'overall');
                                            td(style="background-color:#{this.utils.getColorFromScore(val)}; color: #{val > 0.5 ? 'white' : 'black'};").number
                                                | #{this.utils.preciseRound(val, 2)}
